.App {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 80px;
}
.app__form{
  padding: 15px;
  position: fixed;
  bottom: 0;
  background-color: #e9e9eb;
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0px !important;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.input__app{
  flex: 1;
}
.IconBtn{
  flex: 0;
}
